@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&display=swap");

$font-stack: "Lato", sans-serif;
$background-color: #194a79;
$primary-text-color: white;
$primary-color: #256eb3;
$shadow-color: 5px 5px 5px rgb(39, 42, 63);

%primary-text {
  color: $primary-text-color;
  font-weight: 700;
  text-decoration: none;
}

body {
  background: $background-color;
}

.container {
  position: absolute;
  height: 100%;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  font-family: $font-stack;
  color: $primary-text-color;
}

.page-name {
  font-weight: 300;
  font-size: 40px;
  text-shadow: $shadow-color;
}

.scroll {
  margin-top: 10px;
  overflow-y: scroll;
  height: 75vh;
  box-shadow: 5px 5px 30px rgb(12, 13, 19) inset;
  border-radius: 50px;
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-title {
  @extend %primary-text;
  position: absolute;
  overflow-wrap: break-word;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 0.7);
}

.card {
  box-shadow: $shadow-color;
  position: relative;
  margin: 20px 10px 50px 10px;
  height: 15em;
  width: 10em;
  display: flex;
  justify-content: center;
  background: $primary-color;

  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: $primary-color;
    display: flex;
    justify-content: center;
  }

  //   .img-not-found {
  //     margin-top: 40px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     box-shadow: $shadow-color;
  //     width: 100px;
  //     height: 100px;
  //     border: 2px solid $primary-text-color;
  //     border-radius: 50px;
  //   }
}

.detail-card {
  left: 50%;
  transform: translateX(-50%);
}

.no-image-text {
  @extend %primary-text;
  position: absolute;
}

input {
  padding: 17px 20px;
  width: 50%;
  margin-right: 20px;
  border: 0;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: $shadow-color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.add-form-input {
  margin-bottom: 20px;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.checkbox {
  width: 10px;
  margin: 0px 20px 0px 20px;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  box-shadow: none;
}

.checkbox-item {
  display: flex;
}

.poster-review {
  height: 100px;
  display: flex;
  justify-content: center;
}

.no-poster {
  position: relative;
  top: -30px;
}

button {
  width: 100px;
  height: 60px;
  background: $primary-color;
  border: none;
  border-radius: 50px;
  margin-bottom: 0;
  color: $primary-text-color;
  box-shadow: $shadow-color;
  font-weight: 700;
}

.delete-btn {
  background-color: rgb(173, 44, 27);
  margin-left: 50px;
}

.green-btn {
  background-color: rgb(27, 173, 76);
  margin-left: 50px;
}

.add-movie-btn {
  background: linear-gradient(
    45deg,
    rgba(17, 164, 212, 1) 0%,
    rgba(17, 164, 212, 1) 38%,
    rgba(16, 200, 89, 1) 100%
  );
}

.details-info {
  @extend %primary-text;
  font-size: 20px;
}
